//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

.bg-light {
  background-color: #f3f4f3;
}

.section-about {
  padding-top: 70px;
  padding-bottom: 50px;
  .about-title {
    font-size: 40px;
    color: #000;
  }
  .about-desc {
    font-size: 27px;
  }
  @include respond-to(sm-down) {
    .about-title {
      font-size: 28px;
    }
    .about-desc {
      font-size: 16px;
    }
  }
}

.section-about-content {
  padding-bottom: 70px;
  .col {
    &:nth-child(1) {
      padding-right: 20px;
    }
    &:nth-child(2) {
      padding-left: 20px;
    }
  }
  .about-title {
    padding: 70px;
    font-size: 30px;
  }
  .about-content {
    font-size: 16px;
    line-height: 1.9;
  }

  @include respond-to(sm-down) {
    .about-title {
      padding: 40px 0;
      font-size: 18px;
      text-align: justify !important;
    }
  }
}

.section-legal {
  padding-bottom: 70px;
  .legal-title {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .legal-line {
    padding-bottom: 70px;
    color: #ccc;
  }
  .legal-matters {
    .icon {
      position: relative;
      width: 70px;
      height: 70px;
      font-size: 30px;
      color: $blue;
      background-color: #fff;
      border-radius: 100%;
      border: 1px solid #eee;
      @include boxShadow(0px 2px 2px 0px rgba(56,56,56,0.10));
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }

    .legal-content {
      padding: 30px;
      font-size: 15px;
      line-height: 1.6;
    }
  }
  @include respond-to(sm-down) {
    .legal-line {
      padding-bottom: 40px;
    }
    .legal-title {
      font-size: 25px;
    }
    .legal-content {
      padding: 15px 30px;
    }
    .icon {
      width: 50px !important;
      height: 50px !important;
      img {
        width: 25px;
      }
    }
  }
}
