//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

// utilities
.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.slick-arrow {
  height: 28px;
  width: 28px;
  color: $yellow;
  background-color: #fff;
  border: 1px solid #ccc;
  &::before {
    font: normal normal normal 14px/1 FontAwesome;
    color: $yellow;
  }
  &.slick-prev::before {
    content: "\f177";
  }
  &.slick-next::before {
    content: "\f178";
  }
}

// components
.section-welcome {
  padding: 80px 0;

  .section-heading {
    margin: 0 0 43px;
    font-size: 48px;
    line-height: 1.3;

    span {
      font-size: 32px;
    }
  }

  .contact-form {
    position: relative;
    margin-top: -127px;
    padding: 35px;
    color: #fff;
    text-align: center;
    background: #263f78;
    border: 15px #fff solid;
    border-radius: 4px;
    -webkit-box-shadow: 2px 0 40px rgba(56, 56, 56, .30);
    box-shadow: 2px 0 40px rgba(56, 56, 56, .30);

    .heading {
      margin: 0 0 10px;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.3;
    }

    .desc {
      font-size: 18px;
    }

    .form-group {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 18px;
      }

      input {
        padding: 5px 0;
        color: #fff;
        font-size: 13px;
        font-family: 'Source Sans Pro', sans-serif;
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
      }
    }

    .bottom-text {
      margin: 10px 0 0;
      font-size: 14px;
      opacity: .5;
    }
  }

  @include respond-to(sm-down) {
    padding: 40px 0;
    .section-heading {
      margin: 0 0 20px;
      font-size: 32px;
      span {
        font-size: 28px;
      }
    }
    .contact-form {
      margin-top: 40px;
      padding: 20px;
      .heading {
        margin: 0 0 10px;
        font-size: 24px;
      }
      .desc {
        font-size: 16px;
      }
    }
  }
}

.section-services {
  padding: 87px 0;
  background: url(../assets/images/services-bg.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  .section-desc {
    margin: 0 auto;
    max-width: 840px;
  }

  .services-carousel {
    .slick-track{
      padding: 60px 0;
    }
    .service {
      margin: 0 30px;
      @include boxShadow(0px 2px 2px 0px rgba(56,56,56,0.10));
      transition: .3s;

      .image-wrapper {
        width: 100%;
        img {
          width: 100%;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          object-fit: cover;
        }
      }

      .service-name {
        padding: 18px;
        color: #000;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1.5px;
        background: #fff;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      a {
        @include on-event {
          text-decoration: none;
        }
      }

      &:hover {
        @include boxShadow(0px 25px 45px 0px rgba(56,56,56,0.30));
        @include transform(scale(1.01));

        .service-name {
          color: $yellow;
        }
      }
    }
  }

  @include respond-to(sm-down) {
    padding: 40px 0 20px;

    .services-carousel {
      &.slick-slider {
        margin-bottom: 0;
      }
      .slick-prev {
        left: -10px;
      }
      .slick-next {
        right: -10px;
      }
      .slick-track{
        padding: 20px 0 40px;
      }
      .service {
        .service-name {
          padding: 10px;
          font-size: 18px;
          letter-spacing: 1.2px;
        }
      }
    }
  }
}

.section-choose-us,
.section-testimonials {
  position: relative;
  padding: 70px 0;
  background-image: url(../assets/images/choose-us-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #263f78;
  background-blend-mode: multiply;
  background-attachment: fixed;

  .carousel {
    padding: 33px 0 115px;
    .carousel-indicators {
      bottom: 5px;
      margin-bottom: 0;

      li {
        margin: 0 9px;
        max-width: 30px;
        height: 30px;
        color: #fff;
        font-weight: 700;
        text-indent: initial;
        background: none;
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: .5;

        &.active {
          background: $yellow;
          border-color: $yellow;
          opacity: 1;
        }
      }
    }
    .carousel-inner {
      .carousel-item {
        .content {
          margin: 0 auto;
          max-width: 780px;

          .icon {
            margin: 0 0 23px;
          }

          p {
            margin: 0 0 10px;
            color: #fff;
            font-size: 19px;
            font-weight: 300;
            line-height: 1.5;

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }

  @include respond-to(sm-down) {
    padding: 40px 0;

    .carousel {
      padding: 0 0 50px;
      .carousel-indicators {
        li {
          margin: 0 5px;
          width: 25px;
          height: 25px;
          font-size: 16px;
        }
      }
      .carousel-inner {
        .carousel-item {
          .content {
            .icon {
              margin: 0 0 15px;
              width: 40px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.section-testimonials {
  background-image: url(../assets/images/testimonials-bg.jpg);
  background-position: center top;
  .carousel {
    padding-bottom: 62px;

    .carousel-indicators {
      bottom: 0;

      li {
        max-width: 15px;
        height: 15px;
        background: #fff;
        opacity: 1;
      }
    }

    .content {
      .testimonial-content {
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 32px;
          height: 36px;
        }

        &:before {
          background: url(../assets/images/quote-left.png) no-repeat center center;
          top: -20px;
          left: -78px;
        }

        &:after {
          background: url(../assets/images/quote-right.png) no-repeat center center;
          bottom: 7px;
          right: -78px;
        }
      }
    }
  }
  .stars {
    .fa-star {
      font-size: 23px;
      color: $yellow;
    }
  }

  @include respond-to(sm-down) {
    .carousel {
      padding-bottom: 50px;
      .content {
        .testimonial-content {
          position: relative;

          &:before,
          &:after {
            width: 22px;
            height: 26px;
            background-size: 100%;
          }

          &:before {
            top: -25px;
            left: 0;
          }

          &:after {
            bottom: -20px;
            right: 0;
          }
        }
      }
    }
    .stars {
      .fa-star {
        font-size: 20px;
      }
    }
  }
}

.section-portfolio {
  padding: 58px 0;

  .slick-arrow {
    top: -65px;
    width: 35px;
    height: 35px;
    margin-top: 0;
  }
  .slick-prev {
    left: inherit;
    right: 305px;
  }
  .slick-next {
    right: 250px;
  }
  .image-wrapper {
    height: 300px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .portfolio-carousel {
    padding: 40px 0;
  }
  .portfolio {
    position: relative;
    .portfolio-overlay {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      background-color: rgba(0, 0, 0, .7);
      opacity: 0;
      transition: all ease .7s;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        font-size: 30px;
        color: #fff;
      }
    }
    &:hover .portfolio-overlay {
      opacity: 1;
    }
  }

  @include respond-to(sm-down) {
    padding: 40px 0;

    .slick-arrow {
      top: -10px;
    }
    .slick-prev {
      right: 60px;
    }
    .slick-next {
      right: 15px;
    }
    .image-wrapper {
      height: 200px;
      img {
        width: 100%;
      }
    }
    .portfolio-carousel {
      padding: 40px 0 0;
    }
  }
}

.section-team {
  padding: 87px 0;
  hr {
    border-color: #eee;
  }

  .team {
    @include boxShadow(0px 2px 2px 0px rgba(56,56,56,0.10));
    transition: .3s;
    border-radius: 4px;
    .image-wrapper {
      width: 100%;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        object-fit: cover;
      }
    }

    .team-name {
      padding: 18px;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      background: #fff;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    a {
      @include on-event {
        text-decoration: none;
      }
    }

    &:hover {
      @include boxShadow(0px 25px 45px 0px rgba(56,56,56,0.30));
      @include transform(scale(1.01));
      border: 1px solid $blue;
    }
  }

  .team-name-1 {
    font-size: 17px;
  }
  .team-desc {
    margin-top: 3px;
    font-size: 15px;
  }

  .team-social {
    display: flex;
    a {
      flex-basis: 20%;
      font-size: 16px;
      color: $light-grey;
    }
  }
  @include respond-to(sm-down) {
    padding: 40px 0;
    .row {
      margin: 0 auto;
      .team {
        margin-bottom: 15px;
      }
      hr {
        margin-top: 0;
      }
    }
  }
}

// animation
.revealOnScroll {
  opacity: 0;
}
.animation-revealScroll {
  opacity: 1;
  transition-duration: 1.2s;
  &.fadeIn {
    animation-duration: 2s;
  }
}
