//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.section-footer {
  background-color: $mid-grey;
  color: #fff;
  .footer-container {
    background-color: $dark-grey;
    .d-flex {
      height: 100px;
      .flex-icon {
        flex-basis: 150px;
        i {
          position: absolute;
          top: 50%;
          @include transform(translate(-50%, -50%));
          font-size: 40px !important;
        }
      }
      .flex-content .font-weight-light {
        font-size: 16px;
      }
    }
  }
  .footer-links {
    position: relative;
    padding: 50px 15px;
    overflow: hidden;
    ul {
      display: inline;
      li {
        display: inline-block;
        padding-right: 25px;
        list-style-type: none;
        a {
          padding: 0;
          font-size: 14px;
          color: #fff;
        }
      }
    }
  }

  .footer-social {
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    ul {
      display: inline;
      li {
        display: inline;
        margin-right: 10px;
        list-style-type: none;

        a {
          display: inline-block;
          width: 40px;
          height: 40px;
          font-size: 18px;
          color: #fff;
          border-radius: 50%;
          border: 1px solid $light-grey;
          &:hover {
            color: $mid-grey;
            background-color: #fff;
          }
          i {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .footer-copyright {
    font-size: 14px;
    color: #eee;
  }

  @include respond-to(sm-down) {
    .footer-contact {
      margin: 0 !important;
      font-size: 14px;
      .d-flex {
        height: 70px;
      }
      .flex-content p {
        font-size: 14px !important;
      }
      .flex-icon {
        flex-basis: 80px !important;
        .fa::before {
          font-size: 20px !important;
        }
      }
    }
    .footer-logo img {
      display: block;
      margin: 20px auto 0;
    }
    .footer-links {
      margin-bottom: 20px;
      padding: 20px 15px;
      text-align: center;
      li {
        padding-left: 12px !important;
        padding-right: 12px !important;
      }
    }
    .footer-social {
      ul {
        display: block;
        margin: 0 auto 10px !important;
        li {
          margin-right: 3px;
          a {
            width: 30px !important;
            height: 30px !important;
            i {
              margin-top: 0 !important;
              font-size: 14px;
            }
          }
        }
      }
    }

    .footer-copyright {
      text-align: center;
    }
  }
}
