//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  ul {
    display: inline-block;
    margin-top: 10px;
    li {
      display: inline;
      list-style-type: none;
      font-size: 21px;

      a {
        @include on-event {
          text-decoration: none;
        }
      }
    }
  }
  .contact {
    margin-top: 10px;
    color: #818181;
    font-size: 23px;
    letter-spacing: 1px;
  }
}


$nav-height: 60px;
.nav-wrapper {
  position: relative;
  &.fixed-nav {
    position: fixed;
    top: 5px;
    left: -2px;
    width: 100%;
    padding: 0;
    z-index: 100;
    transition: all ease .3s;
  }
  .nav {
    position: absolute;
    display: flex;
    top: -5px;
    left: 0;
    height: $nav-height;
    @include linearGradient(linear-gradient(top, #1896e6, #2066bc));
    z-index: 100;
    .nav-item {
      flex-grow: 2;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      &:nth-child(1),
      &:nth-child(5) { flex-grow: 1; }
      &:nth-child(2) { flex-basis: 150px; }
      .dropdown-menu a,
      a {
        display: table;
        position: relative;
        width: 100%;
        height: $nav-height;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        span {
          display: table-cell;
          width: 100%;
          height: $nav-height;
          vertical-align: middle;
        }
        &.nav-link {
          padding: 0;
        }
      }
      .dropdown-toggle::after {
        position: absolute;
        right: 31%;
        top: 45%;
      }
      .dropdown-menu {
        top: -2px;
        left: -147px;
        width: 293px;
        border: none;
        border-radius: 0;
        @include linearGradient(linear-gradient(top, #1896e6, #2066bc));
        a:hover {
          background-color: $yellow;
        }
      }

      &:hover,
      &.active {
        background-color: $yellow;
        a { text-decoration: none; }
      }
    }
  }
}

@include respond-to(sm-down) {
  .header {
    padding: 0 !important;
    img {
      display: block;
      padding-top: 15px;
      margin: 0 auto;
    }
    .contact-info {
      display: block;
      position: relative;
      width: 250px;
      margin: 0 auto;
      overflow: hidden;
      .contact,
      ul li {
        font-size: 16px !important;
      }
      ul {
        padding: 0;
        li {
          margin: 0 2px !important;
        }
      }
      .contact {
        margin-left: 0 !important;
      }
    }
  }

  .fixed-nav {
    top: 0 !important;
  }
  .navbar {
    display: block;
    background-color: $blue;
    color: #fff !important;
    .navbar-content {
      margin: 0 15px;
    }
    .navbar-toggler {
      border: none;
      .icon-bar {
        display: block;
        width: 24px;
        height: 2px;
        margin-top: 5px;
        background-color: #fff;
        &:nth-child(1) { margin-top: 0; }
      }
      &:focus,
      &:active,
      &:hover { outline: 0; }
    }
    span { display: inline; }
    .nav {
      position: relative !important;
      display: block !important;
      margin-top: 15px;
      height: inherit !important;
      background: none !important;
      li {
        border-top: 1px solid darken($blue, 5%);
        &:nth-child(1) {
          border-top: 0;
        }
        a {
          padding-left: 15px;
          padding-right: 15px;
        }
        .dropdown-toggle::after {
          right: inherit;
          left: 80px;
        }
      }
      .dropdown-menu {
        width: inherit !important;
        padding-left: -15px;
        background: $yellow !important;
        a {
          height: 40px !important;
          border-top: 1px solid darken($yellow, 5%);
          span {
            height: 40px !important;
          }
        }
      }
    }
  }
}
