//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-yellow {
  padding: 9px 15px;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  border-radius: 3px;
  @include linearGradient(linear-gradient(top, #c99c42, #cc8801));

  @include respond-to(sm-down) {
    padding: 6px 15px;
    font-size: 16px;
  }
}

.btn-outline-yellow {
  padding: 12px 40px;
  color: $yellow;
  font-size: 19px;
  font-weight: 700;
  background-color: #fff;
  border-color: $yellow;
  border-radius: 4px;
  &:hover {
    color: #fff;
    background-color: $yellow;
  }

  @include respond-to(sm-down) {
    padding: 10px 25px;
    font-size: 16px
  }
}
