//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-opensans: 'Open Sans';

/// @type List
$text-font-stack: $font-opensans, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #626262 !default;

/// Main brand color
/// @type Color
$brand-color: #818181 !default;

/// Light grey
/// @type Color
$light-grey: #b3b3b3 !default;

/// Medium grey
/// @type Color
$mid-grey: #2e2e2e !default;

/// Dark grey
/// @type Color
$dark-grey: #181818 !default;

$blue: #2066bc !default;
$yellow: #cc8800 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;
