//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.section-heading {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 40px;

  &.blue {
    color: $blue;
  }

  &.yellow {
    color: $yellow;
  }

  span {
    color: #000;
    font-weight: 300;
  }

  @include respond-to(sm-down) {
    font-size: 28px;
  }
}

.section-desc {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7;

  p {
    margin: 0 0 30px;
  }

  @include respond-to(sm-down) {
    font-size: 16px;

    p {
      margin: 15px;
    }
  }
}

.learn-more {
  color: $yellow;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;

  @include respond-to(sm-down) {
    font-size: 16px;
  }
}
